@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400&family=Creepster&family=Poppins:wght@400;500;700&family=Quantico:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-preta: #000;
    --cor-primaria: #f7f6e4;
    --cor-secundaria: #212121;
    --cor-terciaria: #0074E0;
    --cor-quartenaria: #8fbe00;
    --cor-aqua: #c0efd2;
    --cor-plano-de-fundo: #ff4242;

    --fonte-primaria: 'Poppins', sans-serif; 
}

html {
    scroll-behavior: smooth; /*Deixa o scroll mais suave*/
    font-size: 10px;
}

body {
    font-family: var(--fonte-primaria);
}

#pessoal {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--cor-preta);
}

.conteudo-pessoal {
    height: 70%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    background-color: var(--cor-preta);
}

.conteudo-pessoal div h1 {
    position: relative;
    color: transparent; /*para que as letras so apareçam quando acabar a animação de cada linha*/
    padding: 0px 4px;
    width: fit-content;
    font-size: 4.5rem;
    line-height: 6rem;
    animation: titulo_escrito .5s ease forwards;  /*forwards não vai permanecer na transição. vai ficar no estado final da animação */
}

/*Utilizando o atalho: Shift + Alt + seta pra baixo, é possivel copiar e colar de forma mais pratica*/
/*a função nth-child é possivel criar uma animação que é capaz de inserir um elemento por vez em um bloco de codigo.*/
/*Tentar fazer isso na animaão da digitação*/
.conteudo-pessoal div h1:nth-child(1){
    animation-delay: 1s;
}
.conteudo-pessoal div h1:nth-child(2){
    animation-delay: 2s;
}
.conteudo-pessoal div h1:nth-child(3){
    animation: titulo_escrito_nome .5 ease forwards;
    animation-delay: 3s;
}

.conteudo-pessoal div h1 span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 100%;
    background: var(--cor-quartenaria);
    animation: titulo_escrito_caixa 1s ease;
    animation-delay: .5s;
}


/*Esses blocos vao definir um tempo para que as animações sejam implementadasS*/
.conteudo-pessoal div h1:nth-child(1) span{
    animation-delay: .5s;
}
.conteudo-pessoal div h1:nth-child(2) span{
    animation-delay: 1.5s;
}
.conteudo-pessoal div h1:nth-child(3) span{
    animation-delay: 2.5s;
}

.nome-pessoal {
    margin-top: 11rem;
}

.conteudo-ferramentas {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    margin-top: 6rem; 
}

.conteudo-ferramentas h3 {
    color: var(--cor-primaria);
    font-size: 1.15rem;
    margin-left: 20px;
}

.ferramentas {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.ferramentas ul li {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px;
    padding: 10px;
    list-style: none;
}

.ferramentas ul li img {
    width: 30px;
    height: auto;
    transition: transform .5s ease;
}

.ferramentas ul li div img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.ferramentas ul li div:hover::after {
    content: attr(data); /* referenciar atributo html */
    position: absolute;
    top: 50px;
    left: 10px;
    width: 20px;
    height: 20px;
    color: var(--cor-primaria);
}

.plano-de-fundo {
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(assets/plano-de-fundo2.jpg);
    background-size: cover; /*vai ajustar conforme o espaço*/
    background-position: top center;
    position: relative;
    z-index: 1; /*ajustando a prioridade para que nao ocorra interferencia na estilização e icones clicaveis*/
}

.plano-de-fundo::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .7;
    z-index: -1; /*está deixando o background pra tras das imagens das redes sociais OBS: ATENÇÃO NA CLASSE ACIMA*/
    background:
        linear-gradient(1turn, transparent 20%, var(--cor-preta)),
        linear-gradient(.33turn, transparent 20%, var(--cor-preta)),
        linear-gradient(.57turn, transparent 20%, var(--cor-preta)); 
}

.foto-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    margin: 20px 15px;
}

.foto-perfil img {
    border-radius: 50%;
    width: 50%;
}

.links a img {
    width: 30px;
    height: 30px;
    margin-top: 30px;
    margin-right: 15px;
    filter: brightness(.8);
    transition: transform .4s ease;
}

.links a img:hover {
    filter: brightness(1);
    transform: scale(1.2);
    cursor: pointer;
}

/*final da primeira página*/

#sobre {
    height: 100vh;
    width: 100%;
    background: var(--cor-preta);
    display: flex;
    color: var(--cor-primaria);
}

.plano-de-fundo_sobre {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-sobre {
    height: 100%;
    width: 100%;
    position: relative;
}

.img-sobre::after {
    content: "";
    position: absolute; /*para que seja possivel essa propriedade aparecer, ele tem que referenciar o componente pai. que nesse caso é o bloco acima*/
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:
        linear-gradient(.25turn, transparent 30%, var(--cor-preta)),
        linear-gradient(.5turn, transparent 30%, var(--cor-preta)),
        linear-gradient(.25turn, transparent 30%, var(--cor-preta));
       
} 

.img-sobre img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.sobre2 {
    /* animation: inicializar .30s ease forwards; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding: 3rem;
}

.subtitulo h2 {
    display: inline-block;
    font-size: 2.5rem;
    padding: 3px 5px;
}

/* .subtitulo h2 .digitando:nth-child(2) span {
    padding: 3px 5px;
    border-radius: 4px;
    color: var(--cor-preta);
    background: var(--cor-primaria);
} */

/* .digitando::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca 1s infinite;
} */

.digitando {
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid var(--cor-primaria); /* Efeito de cursor piscando */
}
  
.digitando {
    display: inline-block;
    color: var(--cor-aqua);
    margin: 0;
    padding: 10px;
    animation: typing 3s steps(90) infinite, blink-caret .1s step-end infinite;
}

.sobre2 h3 {
    margin: 3rem;
    font-size: 1.9rem;
}

.sobre2 h3 p span {
    display: inline-block;
    padding: 2px 4px;
    border-radius: 4px;
    color: var(--cor-preta);
    background: var(--cor-quartenaria);
    width: fit-content;
}

.sobre2 h4 {
    margin: .3rem 3rem;
    font-size: 1.7rem;
}

.sobre2 h4 p span {
    color: var(--cor-preta);
    background: var(--cor-plano-de-fundo);
    padding: 1px 4px;
    border-radius: 4px;
    font-size: bold;
    font-weight: 700;
}

.botao-curriculo {
    display: flex;
    max-width: 190px;
    margin: 4rem 3rem;
}

.botao-curriculo button {
    display: inline-block;
    width: 100%;
    max-width: 172px;
    padding: 10px;
    margin-bottom: 1.5rem;
    font: var(--fonte-primaria);
    font-weight: 700;
    font-size: 15px;
    color: var(--cor-primaria);
    background: var(--cor-terciaria);
    letter-spacing: .15rem; /*espaçamento entre as letras*/
    border-radius: 10px;
    cursor: pointer;
}

.botao-curriculo button:hover {
    /* transition: all 2s ease; */
    filter: brightness(.8); 
}

/*final da segunda página*/

#projetos {
    height: 100vh;
    width: 100%;
    background: var(--cor-preta);
    display: flex;
    flex-direction: column;
}

.titulo-projetos h2 {
    margin: 3rem;
    padding: 1rem;
    font-size: 3rem;
    color: var(--cor-primaria);
}

.projetos-div {
    display: flex;
    margin-top: 2rem;
    height: 500px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.cards-projetos {
    width: 320px;
    height: 450px;
    padding: 30px 20px 20px;
    margin: 0px 10px;
    background: var(--cor-primaria);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    position: relative;
}

.cards-projetos::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 40%;
    width: 100%;
    background: var(--cor-quartenaria);
    border-radius: 20px 20px 0px 0px;
}

.conteudo-projetos {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.imagens-projeto {
    height: 240px;
    width: 250px;
    overflow: hidden; /* vai tratar as imagens que transbordam o espaço */
    border-radius: 30px;
    position: relative;
    border: 4px solid var(--cor-quartenaria);
    margin: 0 auto;
}

.imagens-projeto  a img {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover; /*vai ocupar somente onde é pra ocupar*/
    top: 0;
    left: 0;
    border-radius: 30px;
    border: 2px solid var(--cor-primaria);
    cursor: pointer;
}

.imagens-projeto img:hover {    
    transition: transform .3s ease-out;
    transform: scale(1.1);
}

.conteudo-projetos span {
    color: var(--cor-preta);
    font-weight: bold;
    font-size: 1.7rem;
    margin: .75rem auto .5rem auto;
}

.conteudo-projetos p {
    color: var(--cor-secundaria);
    font-weight: bold;
    font-size: 1.1rem;
    margin: 0rem .75rem;
}

.links-projetos {
    width: 200px;
    margin: auto auto 15px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links-projetos a {
    padding: 5px 16px;
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--cor-primaria);
    background: var(--cor-quartenaria);
    border-radius: 15px;
    transition: opacity .3s ease;
}

.links-projetos a:hover {
    opacity: .7;
}

/* final estilização projetos */

#pagina-contato {
    height: 100vh;
    width: 100%;
    background: var(--cor-preta);
    display: flex;
    flex-direction: column;
}

.formulario h2 {
    margin: 3rem;
    padding: 1rem;
    font-size: 3rem;
    color: var(--cor-primaria);
}

.formulario h2 span {
    color: var(--cor-plano-de-fundo);
}

.formulario form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.formulario form input, form textarea {
    width: 100%;
    background-color: var(--cor-secundaria);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    color: var(--cor-primaria);
    border-radius: 15px;
}

.formulario form textarea {
    resize: none;
    max-height: 250px;
}

.botao-enviar {
    margin-top: 15px;
    text-align: center;
}

.botao-enviar:hover {
    transform: scale(1.04);
}

.formulario .botao-enviar input {
    width: 120px;
    background-color: var(--cor-plano-de-fundo);
    font-weight: 700;
    color: var(--cor-preta);
    font-size: 15px;
    cursor: pointer;
    transition: .2s;
}
/* final estilização fale comigo */

#section-contatos {
    justify-content: center;
    align-items: center;
    background-color: var(--cor-preta);
    padding: 50px 50px;
    color: var(--cor-primaria);
    font-weight: 700;
    font-size: 17px;
}

.contatos-div h1 {
    margin: 0 auto;
    margin-bottom: 40px;
    width: 60%;
}

.contatos-div h1 span {
    color: var(--cor-terciaria);
}

.contatos-div table {
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 1.1rem;
}

.contatos-div table, th, td {
    border: 1px solid var(--cor-terciaria);
    padding: 10px;
    text-align: center;

}

#copia button {
    width: 20px;
    border-radius: 5px;
    cursor: pointer;
}

/*Ele começa transparente e quando a animação termina e ele conclui
100% do carregamento dela, ela fica branca*/
@keyframes titulo_escrito {
    100% {
        color: var(--cor-primaria); 
    }
} 
@keyframes titulo_escrito_nome {
    100% {
        color: var(--cor-terciaria); 
    }
}
@keyframes titulo_escrito_caixa {
    50% {
        width: 100%;
        left: 0; 
    }

    100% {
        width: 0;
        left: 100%;
    }
}
@keyframes pisca {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
@keyframes inicializar {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
@keyframes typing {
    from { 
        width: 0; 
    }
    to { 
        width: 50%; 
    }
}
@keyframes blink-caret {
    from, to { 
        border-color: transparent; border-width: 5px; 
    }
    50% { 
        border-color: var(--cor-preta); border-width: 0.5px; 
    }
}